:root{
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.board h1 {
  color: #2E94F0;
  margin-bottom: 16px;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
  border: 2px solid #C2EDEF;
}

.square{
  width: 40px;
  height: 40px;
  border: 2px solid #C2EDEF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board button{
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #2E94F0;
  color: #2E94F0;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

.board button:hover {
  background: #7EB9F0;  
  color: #222;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
}

.turn .square{
  width: 50px;
  height: 50px;
  pointer-events: none;
  border: 2px solid #C2EDEF;
}

.square.is-selected {
  background: #C2EDEF;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: white;
  height: 300px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border-radius: 5px;
  display: flex;
}